* {margin:0px;padding:0px;text-decoration:none;list-style:none;}
body {
	color:#353d3c;
	background: #c05b26;
	font-family: "Proxima Nova Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:17px;
}
a {	color:#353d3c;}
a:hover {text-decoration:underline;}
h1 {
	letter-spacing:-2px;
	font-size:60px;
	line-height:60px;
}

h2 {font-size:44px;}
h3 {
	font-size:32px;
	letter-spacing:-2px;
}
h4 {font-size:24px;}

/**
* Typography
**/
.light {font-family: "Proxima Nova Light","Helvetica Neue", Arial, Helvetica, sans-serif;}
.bold {font-family: "Proxima Nova Bold","Helvetica Neue", Arial, Helvetica, sans-serif;}
.extra-bold {font-family: "Proxima Nova Extra Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;}

/**
* Colours
*/
.orange {color:#f47d3b;}
.dark-grey {color:#353d3c;}

/**
* Buttons
**/
.button.cta {
	background: url(../img/bg_cta.png) repeat-x;
	border: none;
	color:#fff;
	cursor:pointer;
	display:block;
	font-family: "Proxima Nova Bold","Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:24px;
	height:58px;
	line-height:58px;
	text-align:center;
	text-decoration:none;
	text-transform: uppercase;
	width:252px;
	text-shadow:1px 1px 0px #a36518;
	
	-moz-box-shadow: 1px 0px 1px #888;
	-webkit-box-shadow: 1px 0px 1px #888;
	box-shadow: 1px 1px 1px #888;
}
.button.cta.small {
	background: orange repeat-x;
	height:34px;
	line-height:34px !important;
	font-size:15px;
	width:151px !important;
}

/**
* Layout
*/

.site {
	background:#fff;
	margin:0 auto;
	width:1001px;
}
header {
	background:#fff;
	border-bottom:2px solid #c05b26;
	clear:both;
	display:block;
	padding:28px;
}
header #logo {
	margin:14px;
	float:left;
}
header nav {
	display:block;
	margin-top:36px;
	height:36px;
	line-height:36px;
}
header nav a {
	float:left;
	margin-right:7px;
}
header nav .cta {float:right;}
#main {
	background:#fff;
	clear:both;
	display:block;
	padding:28px;
}
footer {
	clear:both;
	background:#fff;
}


/**
* Home
*/
header 

#profiles {
	clear:both;
	display:block;
}
#profiles .profile {
	float:left;
	margin-right:42px;
	width:250px;
}

#topics {
	padding-top:28px;
	clear:both;
	display:table;
}
#topics .topic {
	float:left;
	margin-right:42px;
}