---
layout: default
title: Manual do usuário
---


<div id="main">
	<div id="profiles">
			<div class="profile">
				<h2 class="extra-bold">Perfís</h2>
				<p>
				Os seguintes manuais estão separados por perfil, siga as instruções que melhor descrevem suas atividades (<strong>Publisher</strong> ou <strong>Anunciante</strong>).
				</p>
			</div>
		<div class="profile">
			<h2 class="extra-bold">Publishers</h2>
			<ul class="posts">
			  {% for post in site.tags.publisher reversed %}
			    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
			  {% endfor %}
			</ul>
		</div>
		<div class="profile">
			<h2 class="extra-bold">Anunciantes</h2>
			<ul class="posts">
			  {% for post in site.tags.advertiser reversed %}
			    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
			  {% endfor %}
			</ul>
		</div>
	</div>
</div>
