---
layout: default
title: Manual do usuário
---


<div id="main">
	<div id="profiles">
			<div class="profile">
				<h2 class="extra-bold">Perfís</h2>
				<p>
				Os seguintes manuais estão separados por perfil, siga as instruções que melhor descrevem suas atividades (<strong>Publisher</strong> ou <strong>Anunciante</strong>).
				</p>
			</div>
		<div class="profile">
			<h2 class="extra-bold">Publishers</h2>
			<ul class="posts">
			  {% for post in site.tags.publisher reversed %}
			    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
			  {% endfor %}
			</ul>
		</div>
		<div class="profile">
			<h2 class="extra-bold">Anunciantes</h2>
			<ul class="posts">
			  {% for post in site.tags.advertiser reversed %}
			    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
			  {% endfor %}
			</ul>
		</div>
	</div>
	
	<div id="topics">
		<h2 class="extra-bold">Tópicos</h2>
		<p>Você também pode encontrar instruções navegando pelos tópicos</p>
		
		<div class="topic">
			<h3 class="light">Sites</h3>
			<ul>
				{% for page in site.categories.sites reversed %}
			     <li>
			       <a href="{{page.url}}">{{ page.title }}</a>
			     </li>
				{% endfor %}
			</ul>
		</div>
		<div class="topic">
			<h3 class="light">Anunciantes</h3>
			<ul>
				{% for page in site.categories.advertisers reversed %}
			     <li>
			       <a href="{{page.url}}">{{ page.title }}</a>
			     </li>
				{% endfor %}
			</ul>
		</div>
		<div class="topic">
			<h3 class="light">Campanhas</h3>
			<ul>
				{% for page in site.categories.campaigns reversed %}
			     <li>
			       <a href="{{page.url}}">{{ page.title }}</a>
			     </li>
				{% endfor %}
			</ul>
		</div>
		<div class="topic">
			<h3 class="light">Integração</h3>
			<ul>
				{% for page in site.categories.integration reversed %}
			     <li>
			       <a href="{{page.url}}">{{ page.title }}</a>
			     </li>
				{% endfor %}
			</ul>
		</div>
	</div>

</div>