## Vinculando a peça em espaços publicitários da conta
* Na seção "Espaços a vincular" ao editar ou adicionar uma peça
* Escolha quais páginas deseja vincular a peça e quais espaços dessa pagina poderão imprimir a peça