## Servindo a peça através de um adserver de terceiro
* Depois de adicionada a peça
* Dentro dela, copie o código embed fornecido
* Envie o código copiado para o responsável por cadastrar o bloco de código como peça publicitária.