## Integrando uma página

* Clique na aba "código" da página que deseja integrar
* Copie o script/código fornecido
* Cole no html da respectiva página
* ***Atenção:*** Cada página possui um espaço único e não deve haver tags Adlayer duplicadas no html de sua página
* ***Sugestão:*** Insira o código fornecido dentro da tag ```<head>``` ou antes da tag ```</body>```