## Integrando os espaços da página

* Dentro de cada página existe uma aba sessão chamada "Espaços"
* Selecione a guia espaços
* Passe o mouse sobre o espaço desejado
* Copie o código revelado do espaço
* Insira esse código no html da página correspondente, no lugar que deseja exibir as peças vinculadas.