## <span id="adicionar-uma-página">Adicionar uma página</span>
* Dentro de qualquer site adicionado haverá a aba 'Páginas', selecione-a caso já não esteja selecionada. 
* Em seguida click no botão 'adicionar página'.
* Insira as informações de nome, palavras chaves que representam a página e confirme se o status será ativo ou inativo.  
* Click em 'Salvar' ou pressione enter.