## <span id="editar-uma-página">Editar uma página</span>
* Se você tem alguma página adicionada em um site, deverá ver um lista delas quando entra em um site ou.  
* Click em propriedades  
* Insira as informações de nome, palavras chaves que representam a página e confirme se o status será ativo ou inativo.  
* Click em 'Salvar' ou pressione enter.