## <span id="adicionando-espaços-publicitários-da-página">Adicionando espaços publicitários da página</span>
* Dentro página desejada encontre a Aba "Espaços".
* Em seguida clique em Adicionar espaço.
* Você verá uma caixa com um formulário dentro e deverá preencher as informações como o nome do espaço e formato dele.