## <span id="adicionar-um-novo-site">Adicionar um novo site</span>
* Click em adicionar site.
* Insira o nome e o domínio do site nos respectivos campos.
* Atenção: A integração funcionará apenas com os dominios explicitamente cadastrados (atualmente apenas um domínio é suportado)
* Click em salvar ou pressione a tecla 'enter'.