## Configurando domínios do site
* Ao adicionar ou editar um site
* Adicione quais domínios estão habilitados a servir e contabilizar publicidade
* Não se esqueça de adicionar seus domínios de teste e desenvolvimento caso queira exibir peças nestes ambientes.