## <span id="editar-as-propriedades-de-um-site">Editar as propriedades de um site</span>
* Identifique o site que deseja editar na lista de sites.
* Click em propriedades.
* Realize as alterações desejadas.
* Click em salvar ou pressione a tecla 'enter'.