## <span id="vincular-campanha-em-um-site">Vincular campanha em um site</span>
* Dentro do site
* Selecione a aba "campanhas"
* Clique no botão "vincular campanha"
* Quando adicionar uma peça para a campanha vinculada, todos os espaços do site estão disponíveis para seleção.