<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Adlayer Manual do usuário - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}css/main.css">

		<script type="text/javascript">
		WebFontConfig = { fontdeck: { id: '23216' } };

		(function() {
		  var wf = document.createElement('script');
		  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
		  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		  wf.type = 'text/javascript';
		  wf.async = 'true';
		  var s = document.getElementsByTagName('script')[0];
		  s.parentNode.insertBefore(wf, s);
		})();
		</script>
		
    </head>
    <body>

        <div class="container">
          <div class="site">
            <header class="header">
				<a href="/">
					<img id="logo" src="/img/logo.png" alt="logotipo" title="Adlayer" />
				</a>
				<nav>
					<a href="/" class="extra-bold dark-grey">
						Ajuda
					</a>
					<a href="/" class="light dark-grey">
						| {{ site.name }}
					</a>
					<a class="button cta small" href="http://adlayer.com.br">Site da Adlayer</a>
				</nav>

            </header>
     
                {{ content }}



          </div>
        </div> <!-- /container -->

    </body>
</html>
