<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Adlayer Manual do usuário - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/main.css">

		<script type="text/javascript">
		WebFontConfig = { fontdeck: { id: '23216' } };

		(function() {
		  var wf = document.createElement('script');
		  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
		  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		  wf.type = 'text/javascript';
		  wf.async = 'true';
		  var s = document.getElementsByTagName('script')[0];
		  s.parentNode.insertBefore(wf, s);
		})();
		</script>
		
    </head>
    <body>

        <div class="container">
          <div class="site">
            <header class="header">
				<a href="{{ site.baseurl}}">
					<img id="logo" src="{{ site.baseurl}}/img/logo.png" alt="logotipo" title="Adlayer" />
				</a>
				<nav>
					<a href="{{ site.baseurl}}" class="extra-bold dark-grey">
						Ajuda
					</a>
					<a href="{{ site.baseurl}}" class="light dark-grey">
						| {{ site.name }}
					</a>
					<a class="button cta small" href="http://adlayer.com.br">Site da Adlayer</a>
				</nav>

            </header>
     
                {{ content }}


			<footer>
				<div id="topics">
					<h2 class="extra-bold">Tópicos</h2>
					<p>Você também pode encontrar instruções navegando pelos tópicos</p>

					<div class="topic">
						<h3 class="light">Sites</h3>
						<ul>
							{% for page in site.categories.sites reversed %}
						     <li>
						       <a href="{{ site.baseurl }}{{page.url}}">{{ page.title }}</a>
						     </li>
							{% endfor %}
						</ul>
					</div>
					<div class="topic">
						<h3 class="light">Anunciantes</h3>
						<ul>
							{% for page in site.categories.advertisers reversed %}
						     <li>
						       <a href="{{ site.baseurl }}{{page.url}}">{{ page.title }}</a>
						     </li>
							{% endfor %}
						</ul>
					</div>
					<div class="topic">
						<h3 class="light">Campanhas</h3>
						<ul>
							{% for page in site.categories.campaigns reversed %}
						     <li>
						       <a href="{{ site.baseurl }}{{page.url}}">{{ page.title }}</a>
						     </li>
							{% endfor %}
						</ul>
					</div>
					<div class="topic">
						<h3 class="light">Integração</h3>
						<ul>
							{% for page in site.categories.integration reversed %}
						     <li>
						       <a href="{{ site.baseurl }}{{page.url}}">{{ page.title }}</a>
						     </li>
							{% endfor %}
						</ul>
					</div>
				</div>
				
			</footer>
          </div>
        </div> <!-- /container -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-43053001-1', 'adlayerapp.com');
		  ga('send', 'pageview');

		</script>
    </body>
</html>
